[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
[submodule "themes/themes/poison"]
	path = themes/themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto.git
